<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <style>body {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
margin: 0;
padding: 0;
display: grid;
justify-content: center;
align-items: center;
height: 100vh;
}
.page{
background-color: #fff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
    </style>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
<div class="page">
<h2>Home</h2>

    <div>
        <hr>
        <a th:href="hello">Hello Page</a>
        <a  th:href="admin">Admin Page</a>
        <a th:href="@{/logout}">Log Out</a>
    </div>

</div>
</body>
</html>